body {
    color:rgb(109, 30, 184);
    background: rgb(0, 0, 0);
    margin: Opx;
}

head{
    border-bottom: plum 2px rgb(109, 30, 184);
    padding: 20px;
    font-size: 32px;
    color: rgb(109, 30, 184);
}







