body {
    color:rgb(109, 30, 184);
    background: rgb(0, 0, 0);
    margin: Opx;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

head{
    border-bottom: plum 2px rgb(109, 30, 184);
    padding: 20px;
    font-size: 32px;
    color: rgb(109, 30, 184);
}

.chamada{
    background: rgb(rgb(156, 103, 112));
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{ 
    margin-right: 5%;

}
h1{font: size 40px; ;

}
p{font-size: 20px;

}
img {
    height: 200px;
}

.categoria_videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos





